@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
margin: 0;
padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252A;
}

.logo{
    cursor: pointer;
    width: 500px;
}

.centro{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/livraria.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    display:flex;
    justify-content: space-between;
}

.tutorial{
    flex-basis: 31%;
    background: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
}

.arealogin{
    flex-basis: 31%;
    background: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
}

h1{
    font-family: "Montserrat", sans-serif;
}

.formbox{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: transparent;
    padding: 5px;
    overflow: hidden;
}

.buttonbox{
    width: 220px;
    margin: 10px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #bdd8f3;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #109fffef, #97fcdd);
    border-radius: 30px;
    transition: .5s; 
}

.socialicons{
    margin: 30px auto;
    text-align: center;
}

.socialicons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f773d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #109fffef, #97fcdd);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.check-box{
    margin: 30px 250px 35px 0;
}

.span1{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    right: 150px;
    position: absolute;
    font-family: "Montserrat", sans-serif;
}

.span2{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    right: -25px;
    position: absolute;
    font-family: "Montserrat", sans-serif;
}

#login{
    left: 50px;

}

#register{
    left: 450px;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252A;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9
}

.rights{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252A;
    padding: 5px 10%;
}
