@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

ul{
    list-style: none;
}

*{
margin: 0;
padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252A;
}

.logo{
    cursor: pointer;
    width: 500px;
}

.main{
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/images/livraria.jpeg);
    background-color: #24252A;
    background-position: center;
    background-size: cover;
    position: relative;
    display:flex;
    justify-content: space-between;
    
}

.tutorial{
    flex-basis: 80%;
    background: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px 12px;
    padding-bottom: 10px;
    position: center;
    box-sizing: border-box;
    text-align: center;
    block-size: fit-content;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    padding: 5px;

}

.phonenumber{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 55px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252A;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9
}

.rights{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252A;
    padding: 5px 10%;
}

/* parte do user page*/

